<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BibliotecaN.Properties.Settings.BilbliotecaConnectionString"
            connectionString="Data Source=DESKTOP-IOCOJHO;Initial Catalog=Bilblioteca;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BibliotecaN.Properties.Settings.BibliotecaConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Biblioteca;User ID=desenvolvedor;Password=desenvolvedorsenac"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>